@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #491ef6;
  --color-secondary: #eef2ff;
  --color-accent: #10b981;
  --color-warning: #e1b60b;
  --color-error: #ef4444;

  --color-text-main: #111827;
  --color-text-secondary: #6b7280;

  --background: #ffffff;
  --foreground: var(--color-text-main);
  --border-color: #e5e7eb;
  --button-secondary-bg: #f3f4f6;

  --font-manrope: "Manrope", sans-serif;
}

html.dark,
:root.dark {
  --color-primary: #491ef6;
  --color-secondary: #2a2249;

  --color-text-main: #f9fafb;
  --color-text-secondary: #9b8fcc;

  --background: #151123;
  --foreground: var(--color-text-main);
  --card-background: #1e1834;
  --border-color: #3c3069;
  --button-secondary-bg: var(--color-secondary);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope);
}
