@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #156BA4;
  --color-secondary: #D6EFFF;
  --color-accent: #10B981;
  --color-background-light: #F9FAFB;
  --color-background-dark: #0A2540;
  --color-text-main: #1F2937;
  --color-text-secondary: #6B7280;
  --color-warning: #e1b60b;
  --color-error: #EF4444;

  --font-manrope: "Manrope", sans-serif;
}

:root {
  --background: var(--color-background-light);
  --foreground: var(--color-text-main);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-background-dark);
    --foreground: var(--color-text-main);
  }
}

html.dark, :root.dark {
  --background: var(--color-background-dark);
  --foreground: var(--color-text-main);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope);
}
