@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@import "tailwindcss";

:root {
  --color-primary: #156ba4;
  --color-secondary: #d6efff;
  --color-accent: #10b981;
  --color-background-light: #f9fafb;
  --color-background-dark: #0a2540;
  --color-text-main: #1f2937;
  --color-text-secondary: #6b7280;
  --color-warning: #e1b60b;
  --color-error: #ef4444;

  --font-manrope: "Manrope", sans-serif;

  --background: var(--color-background-light);
  --foreground: var(--color-text-main);
}

html.dark,
:root.dark {
  --background: var(--color-background-dark);
  --foreground: var(--color-background-light);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope);
}

@theme {
  --color-primary: #156ba4;
  --color-secondary: #d6efff;
  --color-accent: #10b981;
  --color-background-light: #f9fafb;
  --color-background-dark: #0a2540;
  --color-text-main: #1f2937;
  --color-text-secondary: #6b7280;
  --color-warning: #e1b60b;
  --color-error: #ef4444;
}
